body {
    background-image: url(images/backgroundpic2.jpg);
    background-size:cover;
    background-position: center;
}

.background {
    justify-content: center;
    background-color: rgb(192,192,192, 0.8);
    border-radius: 50px;
}

#titlepage {
    height: 100px;
}

#title {
    margin-top: auto;
    margin-bottom: auto;
}

#profilepic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 100% 35%;
}

#navigation {
    width: 350px;
}

.navigation {
    list-style: none;
}

.oneline {
    width: 300px;
    padding: 10px;
}


