:root {
    --dark-purple: #544179;
    --purple: #7027A0;
    --pink: #F56FAD;
}

body {
    background: linear-gradient(90deg, hsla(31, 90%, 76%, 1) 1%, hsla(302, 82%, 76%, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.background {
    justify-content: center;
}

#titlepage {
    margin-top: 20px;
    height: 100px;
}

#title {
    margin-left: -40px;
    margin-top: 20px;
    color: var(--dark-purple);
}

#profilepiclarge {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: 100% 35%;
     filter: grayscale(20%);
}

#profilepicmed {
    height: 130px;
    width: 130px;
    object-fit: cover;
    object-position: 100% 35%;
     filter: grayscale(20%);
    margin-top: -150px;
    margin-left: 550px;
}

#profilepicsm {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 100% 35%;
     filter: grayscale(20%);
    margin-top: -170px;
    margin-left: 400px;
}

#navigation h3, #navigation p, .nav-link {
    color: var(--purple);
}

.navtab {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 5px;
    text-align: center;
}

.pills-rounded .nav-link {
    border-radius: 20px;
    height: 40px;
}

.col1 {
     background: rgba(255,255,255,0.2);
}

.col2 {
    background-color: rgb(255,255,255, 0.8);
}

.tabs {
    width: 300px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.tabs a.active {
    background: var(--purple) !important;
    color: white !important;
    opacity: 100% !important;
}

.tabs a:hover {
    background: --pink;
    color: white !important;
    cursor: pointer;
}

h5 {
    font-size: 15px;
    background: var(--pink);
    color: white;
    text-align: center;
    border-radius: 10px;
}

#maincontent h2 {
    color: var(--purple);
}

p b{
    color: var(--pink);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .profilepic {
        margin-left: 100px;
    }
}
